
{% extends 'admin_base.html' %}
			{% block body %}
			<div class="banner">
		   
				<h2>
				Home
			
				</h2>
		    </div>
			<div class="grid-form">	
		<div class="grid-form1">
  	       <h3>Key Points</h3>
		   
		<div class="asked" style="border-color:white">
	

			<div class="questions">
				<h5>1. You can add another admin/operator.</h5>
				<br />
	        </div>
			 <div class="questions">
				<h5>2. You can add reviewers for paper checking.</h5>
			    <br />
			 </div>	
			  <div class="questions">
				<h5>3. You have to assign new papers to reviewers regularly for paper checking.</h5>
				<br />
			 </div>	
			  <div class="questions">
				<h5>4. You can see list of users as well as list of reviewers for more details.</h5>
				<br />
			 </div>	
			 
			  <div class="questions">
				<h5>5. You have to send announcements by mail or through our site in order to contact with either reviewer or user.</h5>
			    <br />
			 </div>	
			  <div class="questions">
				<h5>6. You need to comment on a paper and send it to user for further procedure.</h5>
				<br />
			 </div>	
			  <div class="questions">
				<h5>7. Every Year,you have create volume and issues as well as need to add papers in issues for history purpose. </h5>
				<br />
			 </div>		
			 <div class="questions">
				<h5>8. You can add more Tracks,Subjects,Keywords. </h5>
				<br />
			 </div>	

</div>
</div>
</div>
{% endblock %}
