{% extends 'admin_base.html' %}
{% block head %}
<head>
<title>Admin</title>
<style type="text/css">
body
{
    counter-reset: Serial;           /* Set the Serial counter to 0 */
}

table
{	
	text-align: center;
	border-radius: 10px;
    border-collapse: separate;
   	width: 100%; 
}
th{
	height: 50px;
	text-align: center;
	padding:10px;
}
tr td{
	padding:10px;
	margin: 5px;
}
tr td:first-child:before
{
  counter-increment: Serial;   
  content:counter(Serial); 
}
</style> 
</head>
{% endblock %}
{% block body %}
  		<!--banner-->	
		    <div class="banner">
		   
				<h2>
				List Of Papers/{{name}}
				</h2>
		    </div>
		

 		
<div class="grid-form">
 		
 <div class="grid-form1">
	<table border="1" style="overflow-x:auto;">
 	<tr>
	<th style="text-align: center; width:10%">Sr.No</th>
 		<th style="text-align: center;">Papers</th>

 	</tr>
 	
 	{% for item in k %}
 	<tr>
	<td style="text-align: center;"></td>
		<td>
			<ul style="text-align:left;list-style: none;">
				<li>Author: &nbsp {{item['f_name']}} &nbsp  {{item['l_name']}}</li>
				<li><a href="{{url_for('admin_summary_paper',p_id=item['id'])}}">Title:&nbsp {{item['topic']}}</a></li>
				<li>Creation Date:&nbsp {{item['creation_date']}}</li>
				<li>Last Modification Date:&nbsp{{item['last']}}</li>
				<li>Status:&nbsp {{item['status']}}</li>
			</ul>
		</td>	

 	</tr>	
	{% endfor %}
	
 </table>

  </div>

 	</div>


{% endblock %}

