
{% extends 'admin_base.html' %}
			{% block head %}
<head>
<script>
function fun(){
	
	var old=document.getElementById("old1")
	var new1=document.getElementById("new1")
	var cnew=document.getElementById("cnew1")
	if(old.value=='')
	{
		document.getElementById("msg").innerHTML="Please Enter Old Password"
		$('#myModal11').modal('show');
	}
	else if(new1.value=='')
	{
		document.getElementById("msg").innerHTML="Please Enter New Password"
		$('#myModal11').modal('show');
	}
	else if(cnew.value=='')
	{
		document.getElementById("msg").innerHTML="Please Enter Confirm Password"
		$('#myModal11').modal('show');
	}
	else if(new1.value!=cnew.value)
	{
		document.getElementById("msg").innerHTML="New Password and Confirm password must be Same"
		$('#myModal11').modal('show');
	}
	else if(old.value==new1.value)
	{
		document.getElementById("msg").innerHTML="New Password and Old password must be Different"
		$('#myModal11').modal('show');
	}
	else{
		
		$.post("/admin_change_pass_1",
        {
          old:old.value,
		  new1:new1.value
        },
		function(data,status){
			if(data=="wrong")
			{
				document.getElementById("msg").innerHTML="Old Password is wrong"
				$('#myModal11').modal('show');
			}
			else{
				document.getElementById("old1").value=""
				document.getElementById("new1").value=""
				document.getElementById("cnew1").value=""
				$('#successModal').modal('show');
			}
			
        }
        );
	}	
	
}
$(function () {
            $('#successModal').on('show.bs.modal', function () {
                var myModal = $(this);
                clearTimeout(myModal.data('hideInterval'));
                myModal.data('hideInterval', setTimeout(function () {
                    myModal.modal('hide');
                    
                }, 2000));
            });
        });
</script>
</head>
{% endblock %}
{% block body %}

  		<!--banner-->	
		    <div class="banner">
		   
				<h2>
				{{name}}
			
				</h2>
		    </div>

			<div class="validation-system">
 		
 		<div class="validation-form">
 	<!---->
  	    
        <form >
         	<div class="vali-form">
            <div class="col-md-8 form-group1 group-mail">
              <label class="control-label">Old Password</label>
              <input type="password" placeholder="Old Password" id="old1" name="old">
            </div>
            <div class="col-md-8 form-group1 group-mail">
              <label class="control-label">New Password</label>
              <input type="password" placeholder="New Password" id="new1" name="newx">
            </div>
			 <div class="col-md-8 form-group1 group-mail">
              <label class="control-label">Confirm New Password</label>
              <input type="password" placeholder="Confirm New Password" id="cnew1" name="cnew">
            </div>
           
            </div>
           
            
            <div class="col-md-12 form-group">
              <button type="button" class="btn btn-primary" onClick = "fun();">Save</button>
              <button type="reset" class="btn btn-default">Reset</button>
            </div>
          <div class="clearfix"> </div>
        </form>
    
 	<!---->
 </div>

</div>
			<div class="modal fade" id="myModal11" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <p id="msg"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
<div id="successModal" class="modal fade">
        <div class="modal-dialog" style="width:30%">
            <div class="modal-content">
                <div class="modal-body">
                    Password has been Updated Successfully
                </div>
            </div>
        </div>
    </div>	
{% endblock %}

