
{% extends 'expert_base.html' %}
{% block head %}
<head>
<style type="text/css">
body
{
    counter-reset: Serial;           /* Set the Serial counter to 0 */
}

.xyz
{	
	text-align: center;
	border-radius: 10px;
    border-collapse: separate;
   	width: 100%; 
}
th{
	height: 50px;
	text-align: center;
	padding:10px;
}
tr td{
	padding:10px;
	margin: 5px;
}

</style> 
</head>
{% endblock %}
{% block body %}
  		<!--banner-->	
		    <div class="banner">
		   
				<h2>
				{% if mode=="expert_comment" %}
				<a href="/expert_comment">List Of Paper</a>/{{name}}
				{% endif %}
				</h2>
		    </div>
				<!---->
				</br>
			<div class="grid-form">
 		
 <div class="grid-form1">
		 <div class="col-md-4 form-group"></div>
		<div class="col-md-4 form-group">
			{% if ss1==6 %}
				<a href="{{url_for('review_paper',p_id=p_id)}}" class="btn-primary btn">Review Comment</a>
            {% endif %}
            </div>
		<div class="col-md-4 form-group"></div>
	<table border="1" style="overflow-x:auto;" class="xyz">
 	<tr>
	<th style="text-align: center; width:10%">Submission No</th>
 		<th style="text-align: center;">Papers</th>

 	</tr>
 	
 	{% for item in s %}
 	<tr>
	<td style="text-align:center;">{{item['count']}}</td>
		<td>
			<ul style="text-align:left;list-style: none;">
				<li><a href="{{url_for('get_details_by_submission_id',s_id=item['id'],mode='sub_id',p_id=p_id)}}">Title:&nbsp {{item['title']}}</a></li>
				
				<li>
				{% for item1 in c %}
				{% if item1['id']==item['id'] %}
				<ul style="text-align:left;list-style: none;">
					
				
				<li>		Comment:&nbsp  {{item1['comment']}} </li>
				<li>		Date of Comment:&nbsp  {{item1['date']}} </li>
				</br>
				
					<!-- <li>Name</li>
					<li>Comment</li>
					<li>Status</li> -->
				</ul>
				{% endif %}
					{% endfor %}
				</li>
				
			</ul>
		</td>	

 	</tr>	
	{% endfor %}
	
 </table>

  </div>

 	</div>

{% endblock %}

