{% extends 'expert_base.html' %}
{% block body %}
  		<!--banner-->	
		    <div class="banner">
		   
				<h2>
				Home
				
				</h2>
		    </div>
			<div class="grid-form">	
		<div class="grid-form1">
  	       <h3>Expert Guidelines</h3>
  	         
							
					<div class="questions">
				<h5>1. Admin allocates new papers to you.</h5>
				<br />
	        </div>
			 <div class="questions">
				<h5>2. You have to check paper before deadline.</h5>
			    <br />
			 </div>	
			  <div class="questions">
				<h5>3. Whenever user resubmit a paper, check it again and make comment if necessary. </h5>
				<br />
			 </div>	
			
			   <div class="questions">
				<h5>4. You have to check announcement section as well as mail on regular basis to get in touch with us.</h5>
			    <br />
			 </div>				    
			
								
							
			
		</div>
			</div>	
				
				
{% endblock %}

