
<!DOCTYPE HTML>
<html>
<head>
<title>User</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/static/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<link href="/static/css/font-awesome.css" rel="stylesheet"> 
<script src="/static/js/jquery.min.js"> </script>
<!-- Mainly scripts -->
<script src="/static/js/jquery.metisMenu.js"></script>
<script src="/static/js/jquery.slimscroll.min.js"></script>
<!-- Custom and plugin javascript -->
<link href="/static/css/custom.css" rel="stylesheet">
<script src="/static/js/custom.js"></script>
<script>
function fun(){
	
	var fname=document.getElementById("fname1")
	var mname=document.getElementById("mname1")
	var lname=document.getElementById("lname1")
	var email=document.getElementById("email1")
	var mobile=document.getElementById("mobile1")
	var date=document.getElementById("date1")
	var address=document.getElementById("address_11")
	var pincode=document.getElementById("pincode1")
	var file=document.getElementById("file1")
	x=file.value.split(".")
	 var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
	if(fname.value=='')
	{
		document.getElementById("msg").innerHTML="Please Enter FirstName"
		$('#myModal11').modal('show');
	}
	else if(mname.value=='')
	{
		document.getElementById("msg").innerHTML="Please Enter MiddleName"
		$('#myModal11').modal('show');
	}
	else if(lname.value=='')
	{
		document.getElementById("msg").innerHTML="Please Enter LastName"
		$('#myModal11').modal('show');
	}
	else if(email.value=='')
	{
		document.getElementById("msg").innerHTML="Please Enter EmailId"
		$('#myModal11').modal('show');
	}
	else if(reg.test(email.value) == false)
	{
		document.getElementById("msg").innerHTML="Please Enter Valid EmailID"
		$('#myModal11').modal('show');
	}
	else if(mobile.value=='')
	{
		document.getElementById("msg").innerHTML="Please Enter MobileNo"
		$('#myModal11').modal('show');
	}
	else if(mobile.value.length!=10)
	{
		document.getElementById("msg").innerHTML="Mobile number must be of 10 digit"
		$('#myModal11').modal('show');
	}
	else if(date.value=='')
	{
		document.getElementById("msg").innerHTML="Please Enter Birth Date"
		$('#myModal11').modal('show');
	}
	else if(address.value=='')
	{
		document.getElementById("msg").innerHTML="Please Enter Address"
		$('#myModal11').modal('show');
	}
	else if(pincode.value=='')
	{
		document.getElementById("msg").innerHTML="Please Enter Pincode"
		$('#myModal11').modal('show');
	}
	else if(x[1]!='png' && x[1]!='jpeg' && x[1]!='jpg' && x[1]!='bmp' && file.value!='')
	{
		document.getElementById("msg").innerHTML="Image must be in form of jog/jpeg/png/bmp"
		$('#myModal11').modal('show');
	}
	else{
		  $.post("/validate_email_user_1",
        {
		  email:email.value,
        },
		function(data,status){
			if(data=="wrong")
			{
				document.getElementById("msg").innerHTML="EmailID is already exist."
				$('#myModal11').modal('show');
			}
			else{
				$('#successModal').modal('show');
			}
			
        }
        );			
	}
}
$(function () {
            $('#successModal').on('show.bs.modal', function () {
                var myModal = $(this);
                clearTimeout(myModal.data('hideInterval'));
                myModal.data('hideInterval', setTimeout(function () {
                    myModal.modal('hide');
                    document.form1.submit();
                }, 2000));
            });
        });
</script>
</head>
<body>
<div id="wrapper">

<!----->
        <nav class="navbar-default navbar-static-top" role="navigation">
             <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <h1> <a class="navbar-brand" href="/your_paper">User</a></h1>         
			   </div>
			 <div class=" border-bottom">
        	<div class="full-left">
			<form class=" navbar-left-right"  method="POST" action="{{ url_for('user_search') }}">
              <input type="text" name="search" value="Search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}">
              <input type="submit" value="" class="fa fa-search">
            </form>
            <div class="clearfix"> </div>
           </div>
  
		    <div class="drop-men" >
		        <ul class=" nav_1">
		           
		    		<li class="dropdown at-drop">
		              <a href="#" class="dropdown-toggle dropdown-at " data-toggle="dropdown"><i class="fa fa-globe"></i> <span class="number">{{c}}</span></a>
		              <ul class="dropdown-menu menu1 " role="menu">
					  {% if c==0 %}
						 <li><a href="#">
		               
		                	<div class="user-new">
		                	<p>No new Notifications</p>
		                	</div>
		                	<div class="clearfix"> </div>
		                	</a></li>
					  {% endif %}
					 {% for item in arr %}
		                <li><a href="#">
		               
		                	<div class="user-new">
		                	<p>{{item['message']}} &nbsp ({{item['time']}})</p>
		                	</div>
		                	<div class="user-new-left">
		                	<a href="{{url_for('user_notification_delete')}}" >See</a>
		                	</div>
		                	<div class="clearfix"> </div>
		                	</a></li>
		                {% endfor %}
		               <!-- <li><a href="#" class="view">View all messages</a></li>-->
		              </ul>
		            </li>
					<li class="dropdown">
		              <a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown"><span class=" name-caret">{{fname}}<i class="caret"></i></span>
					  
					   {% if 'googleusercontent.com/' in img %}
						 <img src="{{img}}" style="width:70px;height:60px">
					  {% else %}
						<img src="/static/Img/{{img}}" style="width:70px;height:60px">
					  {% endif %}
					  </a>
		              <ul class="dropdown-menu " role="menu">
		                <li><a href="/User_Personal_Info"><i class="fa fa-user"></i>Edit Profile</a></li>
						
		                <li><a href="/user_change_pass"><i class="fa fa-key"></i>Change Password</a></li>
						
		                <li><a href="/signout_user"><i class="fa fa-sign-out"></i>SignOut</a></li>
		              </ul>
		            </li>
		           
		        </ul>
		     </div><!-- /.navbar-collapse -->
			<div class="clearfix">
       
     </div>
	  
		    <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
				
                    <li>
                        <a href="/browse" class=" hvr-bounce-to-right"><i class="fa fa-search nav_icon "></i><span class="nav-label">Browse</span> </a>
                    </li>
                   <li>
                        <a class="hvr-bounce-to-right"><i class="fa fa-user nav_icon"></i> <span class="nav-label">Author</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li ><a href="/user_add_author" class=" hvr-bounce-to-right"> <i class="fa fa-user-plus nav_icon "></i>Add Author</a></li>
                            
                            <li><a href="/user_list_author" class=" hvr-bounce-to-right"><i class="fa fa-user nav_icon"></i>List of Authors</a></li>
					   </ul>
					</li>
					<li>
                        <a href="/briefcase" class=" hvr-bounce-to-right"><i class="fa fa-briefcase nav_icon"></i> <span class="nav-label">Bookmark</span> </a>
                    </li>
					 <li>
                        <a href="/your_paper" class=" hvr-bounce-to-right"><i class="fa fa-file-pdf-o nav_icon"></i> <span class="nav-label">My Submission</span> </a>
					</li>
					<li>
                        <a href="/list_paper_comment" class=" hvr-bounce-to-right"><i class="fa fa-comments-o nav_icon "></i><span class="nav-label">Follow Comment</span> </a>
                    </li>
                    <li>
                        <a href="/submit_paper" class=" hvr-bounce-to-right"><i class="fa fa-plus nav_icon"></i> <span class="nav-label">Submit Paper</span> </a>
                    </li>
					 <li>
                        <a href="/user_crc" class=" hvr-bounce-to-right"><i class="fa fa-file-pdf-o nav_icon"></i> <span class="nav-label">CRC Submission</span> </a>
                    </li>
					 <li>
                        <a href="/announcements" class=" hvr-bounce-to-right"><i class="fa fa-bullhorn nav_icon"></i> <span class="nav-label">Announcements</span> </a>
                    </li>
                </ul>
            </div>
			</div>
        </nav>
        <div id="page-wrapper" class="gray-bg dashbard-1">
       <div class="content-main">
 
  		<!--banner-->	
		    <div class="banner">
		   
				<h2>
				{{name}} Personal information
				
				</h2>
		    </div>

		<div class="validation-system">
 		
 		<div class="validation-form">
 	<!---->
  	    
        <form action="{{ url_for('pi_user1') }}" method="POST" enctype="multipart/form-data" name="form1">
         	<div class="vali-form">
            <div class="col-md-4 form-group1 group-mail">
              <label class="control-label">Firstname</label>
              <input type="text" placeholder="FirstName" name="fname" id="fname1" value="{{k[1]}}">
            </div>
            <div class="col-md-4 form-group1 group-mail">
              <label class="control-label">Middlename</label>
              <input type="text" placeholder="MiddleName" name="mname" id="mname1" value="{{k[2]}}">
            </div>
			 <div class="col-md-4 form-group1 group-mail">
              <label class="control-label">Lastname</label>
              <input type="text" placeholder="LastName" name="lname" id="lname1" value="{{k[3]}}">
            </div>
           
            </div>
            
            <div class="col-md-8 form-group1 group-mail">
              <label class="control-label">Email</label>
              <input type="text" placeholder="Email" name="email" id="email1" value="{{k[5]}}">
            </div>
			 <div class="col-md-8 form-group1 group-mail">
              <label class="control-label">Mobile No</label><br /><br />
              <input type="number" placeholder="Mobile No" name="mobile" id="mobile1" value="{{k[4]}}">
            </div>
			<div class="col-md-8 form-group1 group-mail">
              <label class="control-label">Gender</label><br /><br />
              <input type="radio" name="gn" value="Male" {% if  "Male" in k[8] or "male" in k[8] %}
													checked
												{% endif %}>Male</input>&nbsp;&nbsp;<input type="radio" value="Female" name="gn" {% if  "Female" in k[8] or "female" in k[8] %}
													checked
												{% endif %}>Female</input>
            </div>
			<div class="col-md-8 form-group1 group-mail">
              <label class="control-label">Date Of Birth</label>
             <input type="text" placeholder="DOB" id="date1" name="date" value="{{k[7]}}">
            </div>
            <div class="col-md-8 form-group1 group-mail">
              <label class="control-label">Designation</label>
						<select name="designation" id="designation1" class="form-control">
									<option value="Student" {% if k[10]=='Student' %} selected {% endif %}>Student</option>
									<option value="Industry Person" {% if k[10]=='Industry Person' %} selected {% endif %}>Industry Person</option>
									<option value="Researcher" {% if k[10]=='Researcher' %} selected {% endif %}>Researcher</option>
									
									</select>
						   
			</div>
			 <div class="col-md-8 form-group1 group-mail">
              <label class="control-label">Brief Biodata</label>
              <textarea  placeholder="Brief Biodata..." id="biodata1" name="biodata">{{k[9]}}</textarea>
            </div>
			 <div class="col-md-8 form-group1 group-mail">
              <label class="control-label">Address</label>
               <input type="text" placeholder="Address Line 1..." required=""  name="address_1" id="address_11" value="{{k[13]}}">
			   <input type="text" placeholder="Address Line 2..."  name="address_2" value="{{k[14]}}">
				<input type="text" placeholder="Address Line 3..."  name="address_3" value="{{k[15]}}">
            </div>
			<div class="col-md-8 form-group1 group-mail">
              <label class="control-label">Country</label>
              <select name="country" class="form-control">
									{% for i in cn %}
										<option value="{{i['name']}}" {% if k[17]==i['name'] %} selected {% endif %}>{{i['name']}}</option>
									{% endfor %}
									</select>
            </div>
			<div class="col-md-8 form-group1 group-mail">
              <label class="control-label">Pincode</label><br /><br />
              <input type="number" placeholder="Pincode..." id="pincode1"  name="pincode" value="{{k[16]}}">
            </div>	
			 <div class="col-md-8 form-group1 group-mail">
              <label class="control-label">Change Profile Pic</label>
			  <input type="file" name="file" id="file1">
            </div>
			
            <div class="col-md-12 form-group">
              <input type="button" class="btn btn-primary" onclick="fun()" value="Save">
            </div>
          <div class="clearfix"> </div>
        </form>
    
 	<!---->
 </div>

</div>
<div class="modal fade" id="myModal11" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <p id="msg"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
<div id="successModal" class="modal fade">
        <div class="modal-dialog" style="width:30%">
            <div class="modal-content">
                <div class="modal-body">
                    Data has been Successfully Updated
                </div>
            </div>
        </div>
    </div>

	 
		<!---->
<div class="copy">
            <p> &copy; All Rights Reserved | Design by Super 3 </p>
	    </div>
		</div>
		<div class="clearfix"> </div>
       </div>
     </div>
<!---->
<!--scrolling js-->
	<script src="/static/js/jquery.nicescroll.js"></script>
	<script src="/static/js/scripts.js"></script>
	<!--//scrolling js-->
	<script src="/static/js/bootstrap.min.js"> </script>
</body>
</html>

