
<!DOCTYPE HTML>
<html>
<head>
<title>Sign In</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/static/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<link href="/static/css/font-awesome.css" rel="stylesheet"> 
<script src="/static/js/jquery.min.js"> </script>
<!-- Mainly scripts -->
<script src="/static/js/jquery.metisMenu.js"></script>
<script src="/static/js/jquery.slimscroll.min.js"></script>
<!-- Custom and plugin javascript -->
<link href="/static/css/custom.css" rel="stylesheet">
<script src="/static/js/custom.js"></script>
<script>
function add_data(){
	
	var email=document.getElementById("email1")
	var password=document.getElementById("pass1")
	var role="admin"
	 var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
	 
	if(email.value=='')
	{
		document.getElementById("msg").innerHTML="Please Enter EmailID"
		$('#myModal11').modal('show');
	}
	else if(reg.test(email.value) == false)
	{
		document.getElementById("msg").innerHTML="Please Enter Valid EmailID"
		$('#myModal11').modal('show');
	}
	else if(password.value=='')
	{
		document.getElementById("msg").innerHTML="Please Enter Password"
		$('#myModal11').modal('show');
	}
	else{
		
		$.post("/signin_1",
        {
          email:email.value,
		  password:password.value,
		  role:role
        },
		function(data,status){
			if(data=="wrong")
			{
				document.getElementById("msg").innerHTML="Unauthorized user"
				$('#myModal11').modal('show');
			}
			else{
				$('#successModal').modal('show');
			}
			
        }
        );
	}	
	
}
$(function () {
            $('#successModal').on('show.bs.modal', function () {
                var myModal = $(this);
                clearTimeout(myModal.data('hideInterval'));
                myModal.data('hideInterval', setTimeout(function () {
                    myModal.modal('hide');
                    document.form1.submit();
                }, 1000));
            });
        });
</script>
</head>
<body>
	<div class="login" style="margin-top:-100px">
		<h1><a href="/temp_t">Research Paper </a></h1>
			<div class="login-bottom">
			<h2>Admin Signin</h2>
			<form action="{{ url_for('temp_111') }}" method="post" name="form1">
			<div class="col-md-12">
	
				<div class="login-mail">
					<input type="text" placeholder="Email" name="email" id="email1">
					<i class="fa fa-envelope"></i>
				</div>
				<div class="login-mail">
					<input type="password" placeholder="Password" name="password" id="pass1">
					<i class="fa fa-lock"></i>
				</div>
				 <!--  <div class="col-md-12 login-do">				
					<a href="/password" class="hvr-sutter-in-horizontal">Forgot Password</a>					
				</div> -->
						
			</div>
			<div class="col-md-12 login-do">
				
				<!-- 	<label class="hvr-shutter-in-horizontal login-sub">
					<input type="submit" value="Login" onclick="add_data()">
					</label>  -->
					<center> <input type="button" class="btn btn-primary" value="Signin" onclick="add_data()" width="100%"> </center>
												
			</div>
			
			<div class="col-md-12"></br>
			<a class="news-letter " href="/password">	Forget Password	?</a>
			
			</div>
			
			<div class="clearfix"> </div>
			</form>
		</div>
		<div class="modal fade" id="myModal11" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <p id="msg"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
<div id="successModal" class="modal fade">
        <div class="modal-dialog" style="width:30%">
            <div class="modal-content">
                <div class="modal-body">
                    Success
                </div>
            </div>
        </div>
    </div>

<div class="copy">
            <p> &copy;All Rights Reserved | Designed by Super 2 </p>
	    </div>
		</div>
		<div class="clearfix"> </div>
      

<!---->
<!--scrolling js-->
	<script src="/static/js/jquery.nicescroll.js"></script>
	<script src="/static/js/scripts.js"></script>
	<!--//scrolling js-->
	<script src="/static/js/bootstrap.min.js"> </script>
</body>
</html>



