
{% extends 'user_base.html' %}

{% block body %}
		    <div class="banner">
		   
				<h2>
				Home
				
				</h2>
		    </div>
			<div class="grid-form">	
		<div class="grid-form1">
  	       <h3>Key Points</h3>
  	         
							
								
			<div class="questions">
				<h5>1. After submission of a paper you have to wait until reviewer's response arrived.</h5>
				<br />
	        </div>
			 <div class="questions">
				<h5>2. You can submit multiple papers simaltaneously.</h5>
			    <br />
			 </div>	
			  <div class="questions">
				<h5>3. You have do necessary changes in the paper if reviewer suggests you.</h5>
				<br />
			 </div>	
			  <div class="questions">
				<h5>4. You have to make payment after your paper is accepted</h5>
				<br />
			 </div>	
			 
			  <div class="questions">
				<h5>5. You have to submit paper in the given format only otherwise your paper will be rejected.<a href="/static/Expert_CV/format.pdf" target="_blank">Paper format</a></h5>
			    <br />
			 </div>	
			 <div class="questions">
				<h5>6. You have to check announcement section as well as mail on regular basis to get in touch with us.</h5>
			    <br />
			 </div>	
	
							
				 
		</div>
	</div>


{% endblock %}

