
{% extends 'user_base.html' %}
{% block body %}
		    <div class="banner">
		   
				<h2>
				{{name}}
				</h2>
		    </div>
		<div class="grid-form">
 		
 <div class="grid-form1">
	<form class="form-horizontal"">
  	       <h3>Volume And Issue</h3>
  	         <div class="tab-content">
						<div class="tab-pane active" id="horizontal-form">
							
							
							<div class="form-group">
									<label for="checkbox" class="col-sm-2 control-label">Volume </label>
									<div class="col-sm-8">
									<ul>
										{% for x in arr4 %}	
									<div class="panel-heading">		
									  <a data-toggle="collapse" href="#{{x['id']}}"><li>{{x['name']}}</li></a>	
									  </div>
									   <div id="{{x['id']}}" class="panel-collapse collapse">
										<div class="panel-body">
											<ul>
										{% for y in arr1 %}	
										
										{% if x['id'] == y['volume'] %}
										 <a href="{{url_for('user_issue_paper_list',i_id=y['id'])}}"><li>{{y['name']}}</li></a>
										{% endif %}
										
										{% endfor %}
										</ul>
										</div>
									
									</div>
											{% endfor %}
										</ul>
										
									</div>
								</div>
							
						</div>
					</div>
		
    
    </form>
  </div>


  <div class="grid-form1">
	<form class="form-horizontal"">
  	       <h3>Track And Subject</h3>
  	         <div class="tab-content">
						<div class="tab-pane active" id="horizontal-form">
							
									<div class="form-group">
									<label for="checkbox" class="col-sm-2 control-label">Track </label>
									<div class="col-sm-8">
									<ul>
										{% for x in arr2 %}	
									<div class="panel-heading">		
									  <a data-toggle="collapse" href="#{{x['id']}}"><li>{{x['name']}}</li></a>	
									  </div>
									   <div id="{{x['id']}}" class="panel-collapse collapse">
										<div class="panel-body">
											<ul>
										{% for y in arr3 %}	
										
										{% if x['id'] == y['track'] %}
										 <a href="{{url_for('user_subject_paper_list',sub_id=y['id'])}}"><li>{{y['name']}}</li></a>
										{% endif %}
										
										{% endfor %}
										</ul>
										</div>
									
									</div>
											{% endfor %}
										</ul>
										
									</div>
								</div>
							
						</div>
					</div>
		
      
    </form>
  </div>
 	</div>
	
{% endblock %}

